/* body {
    overflow-x: hidden;
} */

main .row {
    min-height: 10svh;
    margin-top: 3em;
    box-shadow: 10px -4px 17px 6px rgba(162,223,232,0.57);
}

.footer{
    background-color: darkslateblue;
    opacity: .8;
    min-height: 10svh;
    height: fit-content;
}

.footer > div > ul li.flex-basis-20 {
    flex-basis: 20%;
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    padding: .3em .6em;
    border-radius: .6em;
    min-height: 10%;
}

.footer > div > ul li.flex-basis-10 {
    flex-basis: 10%;
    padding: .3em .6em;
    border-radius: .6em;
}

.footer > div > ul li:hover {
    background-color: darkgray;
}

.footer > div > ul li a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
}

header {
    min-height: 10svh;
    height: fit-content;
    z-index: 100;
    position: sticky;
    top: 0; 
    width: 100svw;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: flex-start;
    padding: 1em;
}



header .links-wrapper {
    text-align: center;
}

header .links-wrapper a {
    margin-right: 1em;
}

header .row {
    min-height: 5svh;
    background-color: black;
}

#toggle-header-btn {
    max-width: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3em 1em;
    border-radius: 5em;
    position: sticky;
    top: 0em;
    z-index: 200;
    left: 1em;
    background-color: orangered;
    min-height: 5em;
}

#toggle-nav {
    display: none;
}

#show-nav-btn {
    display: none;
    min-width: 2em;
    margin-left: auto;
}


.wrapper main .container .about-section {
    background-color: white;
}

.about-section > .image-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 0 1 20%;
    min-height: 60svh;
    padding: 1em;
    background-color: burlywood;
}

.about-section > .text-container {
    padding: 1em;
}

.badge {
    display: block;
    flex-basis: 100%;
    flex-shrink: 1;
    flex-grow: 0;
    white-space: normal;
}

.list-group-item {
    flex-wrap: wrap;
}


.skills-and-portfolio-section > div .progress {
    height: 25px;
}

.accordion-body {
    height: fit-content;
    z-index: 100;
}

.project-info {
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    height: fit-content;
    min-width: 100%;
    display: flex;
    gap: 2em;
    padding: 1em;
    align-items: center;
    flex-wrap: wrap;
}

.project-info span {
    color: black;
    padding: .5em;
    border-radius: .5em;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}