body {
    overflow-x: hidden;
}

main .row {
    min-height: 10svh;
    margin-top: 3em;
    box-shadow: 10px -4px 17px 6px rgba(162,223,232,0.57);
}

.footer{
    background-color: darkslategrey;
    opacity: .8;
}

.footer > div > ul li.flex-basis-20 {
    flex-basis: 20%;
    text-decoration: none;
    color: aliceblue;
    padding: .3em .6em;
    border-radius: .6em;
}

.footer > div > ul li.flex-basis-10 {
    flex-basis: 10%;
    padding: .3em .6em;
    border-radius: .6em;
}

.footer > div > ul li:hover {
    background-color: darkgray;
}

.footer > div > ul li a {
    text-decoration: none;
    color: aliceblue;
}

header {
    min-height: 10svh;
    z-index: 100;
    position: sticky;
    top: 0;
    width: 100svw;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

header .links-wrapper {
    text-align: center;
}

header .links-wrapper a {
    margin-right: 1em;
}

header .row {
    min-height: 5svh;
    background-color: black;
}

#toggle-header-btn {
    max-width: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3em 1em;
    border-radius: 5em;
    position: sticky;
    top: 0em;
    z-index: 200;
    left: 1em;
    background-color: orangered;
}

.wrapper main .container .about-section {
    background-color: white;
}

.about-section > .image-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 0 1 20%;
    min-height: 60svh;
    padding: 1em;
    background-color: burlywood;
}

.about-section > .text-container {
    padding: 1em;
}


.skills-and-portfolio-section > div .progress {
    height: 25px;
}
